<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334347452009-mf2r15pjl6ohn971adc94f6urbmhodoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334347452009-mf2r15pjl6ohn971adc94f6urbmhodoi</string>
	<key>API_KEY</key>
	<string>AIzaSyDYpknPDvNNgM2MRBB-yoeAnSDT9a3zhUk</string>
	<key>GCM_SENDER_ID</key>
	<string>334347452009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softsavvy.softstore</string>
	<key>PROJECT_ID</key>
	<string>softstore-d4451</string>
	<key>STORAGE_BUCKET</key>
	<string>softstore-d4451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334347452009:ios:2ccb4198dec407c16f6cf8</string>
</dict>
</plist>